{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="hero-pic">
        <img src="{% static 'images/my.JPG' %}" alt="profile pic">
    </div>

    <div class="hero-text">
       
        <h1>Abdullah Tahir</h1>
        <h5>Hi I'm <span class="input"></span></h5>
        <p>
          Hi, I’m a Backend & Django Developer exploring AI. I build scalable
          systems with Django and Python, and I’m learning to add smart features
          like recommendations, automation, and data-driven insights.
        </p>
  
        <div class="btn-group">
          <a href="{% url 'download_cv' %}" class="btn active">Download CV</a>
          <a href="{% url 'projects' %}" class="btn">Learn More</a>
        </div>
      </div>
</div>

<!-- Display a few projects on the homepage -->
<div class="projects-preview">
    <h2>My Recent Projects</h2>
    <div class="projects-grid">
        <div class="project-card">
            <h3>Project 1</h3>
            <p>Short description of the project goes here.</p>
            <a href="{% url 'projects' %}" class="btn">Learn More</a> <!-- Link to projects page -->
        </div>
        <div class="project-card">
            <h3>Project 2</h3>
            <p>Short description of the project goes here.</p>
            <a href="{% url 'projects' %}" class="btn">Learn More</a> <!-- Link to projects page -->
        </div>
        <div class="project-card">
            <h3>Project 3</h3>
            <p>Short description of the project goes here.</p>
            <a href="{% url 'projects' %}" class="btn">Learn More</a> <!-- Link to projects page -->
        </div>
    </div>
    <a href="{% url 'projects' %}" class="btn-about">View All>></a>    
</div>

<!-- Resume Section -->
<div class="resume-section">
    <h2>Resume</h2>
    <p>Check out my detailed resume for more information on my skills, experience, and education.</p>
    <div class="btn-group">
        <a href="{% url 'download_cv' %}" class="btn">Download My Resume</a>  <!-- Resume Download button -->
        <a href="{% url 'resume' %}" class="btn-about">About Me</a>  <!-- Resume Download button -->
    </div>
</div>

<!-- Contact Section (Simplified) -->

<div class="contact-section">
    
    <h2>Contact Me</h2>
    <div class="projects-decoration"></div>
    <p>If you would like to get in touch, feel free to reach out to me through the following:</p>
    <div class="contact-info">
        <p>Email: <a href="mailto:abdullahtahir4200@gmail.com">abdullahtahir4200@gmail.com</a></p>  <!-- Replace with your email -->
        <p>Phone: +923045972323</p>  <!-- Replace with your phone number -->
    </div>
</div>

{% endblock content %}
