{% extends 'portfolio/base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="hero-pic">
     <img src="{% static 'images/my.jpg' %}" alt="profile pic">
  </div>
  <div class="hero-text">
     <h5>Hi I'm <span class="input">Backend Developer</span></h5>
     <h1>Abdullah Tahir</h1>
     <p>I'm a Backend Developer, build scalable and efficient backend systems,
          where data flows smoothly and users interact seamlessly.
     </p>

     <div class="btn-group">
        <a href="{% url 'download_cv' %}" class="btn active">Download CV</a>
     </div>

  
  </div>
</div>
</div>
</div>
{% endblock content %}
